@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* GENERAL MEDIA QUERIES */

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
}

/* NORMAL PHONES PORTRAIT */
@media only screen and (min-width: 375px) and (orientation: portrait) {
}

/* BIG PHONES PORTRAIT */
@media only screen and (min-width: 420px) and (orientation: portrait) {
}

/* PHONES LANDSCAPE */
@media only screen and (min-width: 400px) and (max-width: 949px) and (orientation: landscape) {
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
}

/* BIG TABLETS PORTRAIT*/
@media only screen and (min-width: 1024px) and (orientation: portrait) {
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
}

/* --- GLOBAL --- */

* {
  box-sizing: border-box;
}

/* html {
  color-scheme: light dark;
} */

a {
  color: black;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
input,
textarea {
  font-size: 1rem;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

input::placeholder,
textarea::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i {
  color: black;
}
button {
  display: block;
  height: 5em;
  width: 12em;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  background: gray;
  color: rgb(50, 50, 50);
  transition: 0.3s ease-in-out;
}

button.buttonEnabled {
  color: white;
  background: rgb(0, 200, 0);
  transition: 0.3s ease-in-out;
}
button.buttonEnabled:hover {
  color: white;
  background: rgb(0, 170, 0);
  transition: 0.2s ease-in-out;
}

/* MOBILE */
@media only screen and (max-width: 1279px) {
  button {
    width: 100%;
  }
}

p {
  line-height: 2;
  font-size: 1rem;
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  p {
    font-size: 1.2rem;
  }
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  p {
    font-size: 1.2rem;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #fff;
  scroll-behavior: smooth;
}

header {
  background: rgb(162, 70, 0);
}

main {
  width: min(80ch, 100% - 4rem);
  margin-inline: auto;
  /* border: 2px solid red; */
}

footer {
  color: whitesmoke;
  background-color: #2c2926;
}

/* MOBILE */
@media only screen and (max-width: 1279px) {
  main {
    width: min(80ch, 100% - 2rem);
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  main {
    width: min(80ch, 100% - 1rem);
  }
}

/* NORMAL PHONES PORTRAIT */
@media only screen and (min-width: 375px) and (orientation: portrait) {
}

/* BIG PHONES PORTRAIT */
@media only screen and (min-width: 420px) and (orientation: portrait) {
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  main {
    width: min(80ch, 100% - 2rem);
  }
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  /* Since view is different on desktop */
  .main_index {
    width: min(120ch, 100% - 4rem);
  }
}

/* -- Loading animation -- */

.loadingContainer {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.loadingText {
  margin: auto auto 0.5em auto;
  width: 8em;
  text-align: center;
}

.loadingAnimation {
  width: 2em;
  height: 2em;
  margin: 0.5em auto auto auto;
  border: 10px solid white;
  border-top-color: #ffaa34;
  border-radius: 50%;
  animation: spin 0.75s ease-in-out infinite;
}

.results {
  padding: 10px;
}

/* -- HIDE/SHOW ELEMENTS --*/

.hideElement {
  display: none;
}

.showElement {
  display: block;
}

/* -- TRANSITION EFFECTS BLOG POSTS-- */

.fade-in-left {
  animation: fade-in-left 0.5s ease;
}
.fade-in-right {
  animation: fade-in-right 0.5s ease;
}
.fade-in-down {
  animation: fade-in-down 0.5s ease;
}
.fade-in-down-extended {
  animation: fade-in-down 1s ease;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-1em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(1em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1em);
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5em);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5em);
  }
  100% {
    transform: translateX(0);
  }
}

/* --- HEADER SECTION --- */

.headingContainer_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.headerLogo_header {
  background: url(/IMAGES/header/FretboardHaven-white-logo.svg) no-repeat;
  background-size: contain;
  height: 10vh;
  width: 26vh;
  margin: 0 auto;
}

/* --- NAVIGATION HEADER --- */

.active {
  font-weight: bold;
}

/* - MOBILE NAV - */
@media only screen and (max-width: 1279px) {
  .nav_header_desktop {
    display: none;
  }

  .headingContainer_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    height: 4em;
    width: 4em;
    background: rgb(162, 70, 0);
    margin-left: 10%;
  }

  .menu-icon .icon-bar {
    display: block;
    width: 2.5em;
    height: 3px;
    margin: 3px 0;
    background-color: whitesmoke;
  }

  /* -- */

  .nav_header_mobile {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav_header_mobile.nav-open {
    max-height: 17.5em;
  }

  .nav-collapsed .icon-bar {
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
  }

  .menu-icon.nav-collapsed .icon-bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-icon.nav-collapsed .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.nav-collapsed .icon-bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* -- */

  .ul_header_mobile {
    text-transform: uppercase;
  }

  .ul_header_mobile a {
    color: whitesmoke;
  }

  .li_header_mobile {
    padding: 0 0 2em 1em;
  }
}

/* DESKTOP NAV */
@media only screen and (min-width: 1280px) {
  .menu-icon {
    display: none;
  }
  .nav_header_mobile {
    display: none;
  }

  .nav_header_desktop {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
  }

  .ul_header_desktop {
    display: flex;
    background-color: #2c2926;
    justify-content: center;
    font-size: 1.5rem;
    gap: 2em;
    padding: 0.5em;
    margin: 0;
  }

  .li_header_desktop a {
    position: relative;
    color: whitesmoke;
  }

  .li_header_desktop a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    background-color: whitesmoke;
    transition: width 0.3s ease;
  }

  .li_header_desktop a:hover::before {
    width: 100%;
  }
  .li_header_desktop a:hover {
    transition: 0.3s ease;
    color: #d9b88f;
  }
}

/* --- FOOTER SECTION --- */

.newsletter_footer {
  text-align: center;
  width: min(80ch, 100% - 4rem);
  margin-inline: auto;
}

.newsletter_footer h2 {
  padding-top: 1em;
}

.newsletter_footer p {
  margin-bottom: 2em;
}

.newsletterForm_footer {
  display: flex;
  flex-direction: column;
}
.newsletterForm_footer label,
.newsletterForm_footer input,
.newsletterForm_footer button {
  margin: 0 auto;
  width: 100%;
  border: none;
}

.newsletterForm_footer label {
  padding: 0.5em;
}

.newsletterForm_footer input {
  height: 3em;
  background: linear-gradient(
    to right,
    #2c2926 0%,
    #2c2926 25%,
    #3f3b37 50%,
    #2c2926 75%,
    #2c2926 100%
  );
  color: whitesmoke;
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(245, 245, 245, 0.6);
  border-radius: 0;
  outline: none;
}
.newsletterForm_footer button {
  margin-bottom: 2em;
}

.bottomSection_footer {
  background-color: #37322f;
  overflow: auto;
}
.bottomSection_footer h4 {
  display: flex;
  justify-content: center;
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
}

/* NORMAL PHONES PORTRAIT */
@media only screen and (min-width: 375px) and (orientation: portrait) {
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  .newsletterForm_footer label,
  .newsletterForm_footer input,
  .newsletterForm_footer button {
    min-width: 60%;
    max-width: 60%;
  }
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  .newsletterForm_footer label,
  .newsletterForm_footer input,
  .newsletterForm_footer button {
    min-width: 50%;
    max-width: 50%;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
}

/* --- INDEX PAGE --- */

.topHeader_index {
  text-align: center;
}

/* -- Blog Highlighted -- */

.blogHighlighted {
  height: 30em;
  position: relative;
}

.blogHighlightedImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 5px 5px 5px;
  transition: opacity 0.3s ease-in-out;
}

.blogHighlightedInfoContainer {
  z-index: 1;
  position: relative;
  top: 10em;
  display: block;
  width: 90%;
  height: fit-content;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75); /* Using rgba() for opacity */
  color: white;
  padding: 2em;
  border-radius: 0 5px 5px 5px;
  box-shadow: 5px 5px 5px black;
}

.highlighted {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.blogHighlightedSubHeader {
  gap: 1em;
  display: flex;
  font-size: 1.5rem;
}

.blogHighlightedSubHeader i {
  display: flex;
  align-items: center;
  color: white;
}

.blogHighlightedAuthor,
.blogHighlightedDate {
  margin: 0;
}

.blogHighlightedDate {
}

.blogHighlightedTitle {
  font-size: 2rem;
}

.blogHighlightedContentSummary {
  font-size: 1rem;
}

.blogHighlightedCategories {
  display: flex;
  gap: 1em;
}

.blogHighlightedCategoriesTitle {
}

.blogHighlightedCategory {
  color: white;
}

/* -- Blog containers -- */
.blogContainer_index {
  margin-top: 2em;
}

.blogPostContainer {
  display: flex;
  margin-bottom: 2em;
  border: 2px solid black;
}

.blogPostContainer:hover {
  transition: 0.1s ease-in;
  box-shadow: 0.5px 0.5px 5px black;
  opacity: 0.75;
}

.blogPostImage {
  opacity: 0.75;
  object-fit: cover;
}

.blogPostInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  border-left: 2px solid black;
}

.blogPostSubHeader {
  display: flex;
  opacity: 0.75;
  gap: 0.25em;
  align-items: baseline;
}

.blogPostSubHeader i {
  display: flex;
  align-items: center;
}

.blogPostAuthor,
.blogPostDate {
  margin: 0;
}

.date-Icon {
  display: flex;
  margin-left: auto;
}

.blogPostTitle {
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}

.blogPostContentSummary {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
}

.blogPostCategories {
  display: flex;
  gap: 1em;
  align-items: baseline;
  border-top: 1px solid black;
  font-size: 0.8rem;
}

.blogPostCategoriesTitle {
  margin: 0.5em 0 0 0;
  font-weight: bold;
}

.blogPostCategory:hover {
  transition: 0.1s ease-in;
  text-decoration: underline 1px;
  font-weight: bold;
}

/* MOBILE */
@media only screen and (max-device-width: 1279px) {
  .blogContainerHighlighted_index {
    display: none;
  }

  .blogPostContainer {
    height: 10em;
  }
  .blogPostImage {
    min-width: 15em;
    max-width: 15em;
  }

  .blogPostContentSummary {
    display: none;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .blogPostContainer {
    height: 5em;
  }
  .blogPostImage {
    min-width: 5em;
    max-width: 5em;
  }

  .blogPostInfoContainer {
    padding: 0.25em;
  }

  .blogPostTitle {
    font-size: small;
  }
}

/* NORMAL PHONES PORTRAIT */
@media only screen and (min-width: 375px) and (orientation: portrait) {
  .blogPostContainer {
    height: 6em;
  }
  .blogPostImage {
    min-width: 6em;
    max-width: 6em;
  }
}

/* BIG PHONES PORTRAIT */
@media only screen and (min-width: 420px) and (orientation: portrait) {
  .blogPostContainer {
    height: 6.5em;
  }
  .blogPostImage {
    min-width: 6.5em;
    max-width: 6.5em;
  }
  .blogPostInfoContainer {
    padding: 0.5em;
  }
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  .blogPostContainer {
    height: 8em;
  }
  .blogPostImage {
    min-width: 8em;
    max-width: 8em;
  }

  .blogPostInfoContainer {
    padding: 0.75em;
  }
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  .blogPostTitle {
    font-size: medium;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .blogContainer_index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .blogPostContainer {
    height: 14em;
  }
  .blogPostImage {
    min-width: 40%;
    max-width: 40%;
  }
}

/* - Carousel - */

.containerCarousel-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 4em;
  border: 2px solid black;
}

.containerCarousel-nav div {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* text-align: center; */
}
.containerCarousel-nav div:first-child {
  margin-left: auto;
}
.containerCarousel-nav div:last-child {
  margin-right: auto;
}

.containerCarousel-nav div > label {
  cursor: pointer;
}

.carousel-nav {
  width: 5em;
  background: transparent;
}

.prev:hover > i {
  animation: bounce-left 1s ease-in-out infinite;
}
.next:hover > i {
  animation: bounce-right 1s ease-in-out infinite;
}

/* MOBILE */
@media only screen and (max-width: 1279px) {
  .containerCarousel-nav {
    gap: 5em;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .containerCarousel-nav {
    gap: 1.5em;
  }
}

/* NORMAL PHONES PORTRAIT */
@media only screen and (min-width: 375px) and (orientation: portrait) {
  .containerCarousel-nav {
    gap: 2em;
  }
}

/* BIG PHONES PORTRAIT */
@media only screen and (min-width: 420px) and (orientation: portrait) {
  .containerCarousel-nav {
    gap: 3em;
  }
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  .containerCarousel-nav {
    gap: 5em;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .containerCarousel-nav {
    gap: 5em;
  }
}

/* --- BLOG --- */

/* - Calendar - */

.calendarContainer {
  background: rgb(230, 230, 230);
  padding: 1em;
  margin: 0 auto;
}

.calendarHeaderContainer {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0 1em;
  border: 1px solid black;
}

.calendarHeaderContainer i {
  margin-left: auto;
  cursor: pointer;
}

.calendarHeaderContainer .fa-x {
  display: none;
}

.calendarMonthYear {
  cursor: pointer;
  padding: 1em 0;
}
.calendarMonthYear > div {
  display: flex;
  gap: 0.5em;
}

.calendarMonthYear > div:nth-child(2) {
  /* margin-left: auto; */
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(250, 250, 250);
  border-radius: 0.5rem;
  justify-content: space-between;
  margin-left: auto;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
}

.calendar-day:hover {
  cursor: pointer;
  background-color: rgba(162, 70, 0, 0.2);
}

.calendar-day.selected {
  background-color: rgb(162, 70, 0);
  color: whitesmoke;
}

/* MOBILE */
@media only screen and (max-width: 1279px) {
  .header_blog {
    text-align: center;
  }

  .calendarHeader {
    display: flex;
    gap: 3em;
  }

  .calendarHeader > div {
  }

  .calendarHeader > div:nth-child(2) {
    /* margin-left: auto; */
  }

  .calendar-dates {
    width: 100%;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
}

/* BIG TABLETS PORTRAIT*/
@media only screen and (min-width: 1024px) and (orientation: portrait) {
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .calendar-dates {
    height: fit-content;
    width: 17em;
  }
}

/* - Blog posts - */

.blogContainer_blog {
  margin-top: 2em;
}

.blogPostContainer_blog {
  display: flex;
  margin: 0 auto 2em auto;
  border: 2px solid black;
}

.blogPostContainer_blog:hover {
  transition: 0.1s ease-in;
  box-shadow: 0.5px 0.5px 5px black;
  opacity: 0.75;
}

.blogPostImage_blog {
  opacity: 0.75;
  object-fit: cover;
}

.blogPostInfoContainer_blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  border-left: 2px solid black;
}

.blogPostSubHeader_blog {
  display: flex;
  opacity: 0.75;
}
.blogPostAuthor_blog {
  margin: 0;
}

.blogPostDate_blog {
  margin: 0 0 0 auto;
}

.blogPostTitle_blog {
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}

.blogPostCategories_blog {
  display: flex;
  gap: 1em;
  align-items: baseline;
  border-top: 1px solid black;
  font-size: 0.8rem;
}

.blogPostCategoriesTitle_blog {
  margin: 1em 0 0 0;
  font-weight: bold;
}

.blogPostCategory_blog:hover {
  transition: 0.1s ease-in;
  text-decoration: underline 1px;
  font-size: 1.1rem;
}

/* MOBILE */
@media only screen and (max-width: 1279px) {
  .blogPostContainer_blog {
    height: 5em;
  }

  .blogPostImage_blog {
    min-width: 10em;
    max-width: 10em;
  }
  .blogPostInfoContainer_blog {
    padding: 0.25em;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .blogPostImage_blog {
    min-width: 5em;
    max-width: 5em;
  }
  .blogPostTitle_blog {
    font-size: small;
  }
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  .blogPostTitle_blog {
    font-size: medium;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .blogPostContainer_blog {
    height: 8em;
  }
  .blogPostImage_blog {
    min-width: 12em;
    max-width: 12em;
  }
}

/* - Older content - */

.olderContent-btn,
.backToTop-Btn {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 0;
  border: 2px solid black;
  background: transparent;
}

/* MOBILE */
@media only screen and (max-width: 1279px) {
}

/* --- CONTACT --- */

.topSection_contact {
  text-align: center;
}

/* - Contact form - */

.formSection_contact {
  margin: 2em auto;
}

.formFieldset_contact {
  border: none;
}

.formFieldset_contact legend {
  padding: 0;
  margin-bottom: 1em;
}

.formFieldset_contact input,
.formFieldset_contact textarea {
  display: block;
  width: 100%;
  padding: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 0.5rem;
}
.formFieldset_contact textarea {
  min-height: 10em;
  max-height: 20em;
}

.submitBtn-form_contact {
  display: block;
  margin-top: 1.25em;
  width: 100%;
}

/* - Validation - */
.form-error {
  display: none;
  color: red;
  float: right;
  margin-right: 0.5em;
}

.form-sucsess {
  display: none;
  color: green;
  float: right;
  margin-right: 0.5em;
}

.formSucsess_contact {
  display: none;
  margin: auto;
  width: 30em;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  background: #f29e38;
}

.formSucsess_contact img {
  display: flex;
  height: 6em;
  margin-top: 2em;
  border-radius: 50%;
  background: white;
}

.formSucsess_contact img,
.formSucsess_contact h2,
.formSucsess_contact div {
  text-align: center;
  padding: 1em;
}

/* - MOBILE - */
@media only screen and (max-width: 1279px) {
  .formSucsess_contact {
    width: 90%;
  }

  .formSucsess_contact img {
    height: 5em;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  .formSection_contact {
    width: 80%;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .formFieldset_contact input,
  .formFieldset_contact textarea {
    min-width: 100%;
    max-width: min-content;
  }
}

/* --- ABOUT --- */

.section_about {
  margin-bottom: 3em;
}

.readMore-btn {
  background-color: #d9ab73;
}

/* - PERSON CONTAINERS - */

.personsContainer {
  /* border: 1px solid blue; */
  gap: 1em;
}
.personContainer {
  display: block;
  padding: 2em;
}

.personImage {
  background: url(/IMAGES/about/person-portrait.jpeg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgb(70, 70, 70);
  margin: 0 auto;
}

.personName {
  text-align: center;
}

.personText {
  font-style: italic;
  font-size: 1rem;
}

/* - MOBILE - */
@media only screen and (max-width: 1279px) {
  .personsContainer {
    display: block;
    margin: 0 auto;
  }
  .personContainer {
    height: fit-content;
  }
  .personImage {
    width: 9em;
    height: 9em;
  }

  .personText {
    font-size: 0.9rem;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  .personImage {
    width: 10em;
    height: 10em;
  }
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  .personsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    width: fit-content;
  }
  .personImage {
    width: 10em;
    height: 10em;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
}

/* - Sections about - */

.container_about {
  margin: 2em 1em;
}

.section_about a {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

/* - MOBILE - */
@media only screen and (max-width: 1279px) {
  .section_about p {
    max-height: 10em;
    overflow: hidden;
    transition: max-height 1s ease;
  }

  .section_about .show-more {
    max-height: 100em;
  }

  .readMore-btn {
    width: 100%;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .readMore-btn {
    display: none;
  }
}

/* --- BLOG SPECIFIC PAGE --- */

.postTitle_blogSpecific {
  font-size: 2rem;
  margin-bottom: 0;
}

.postSubheader_blogSpecific {
  display: flex;
}

.postDate_blogSpecific {
  margin-left: auto;
}

.postImage_blogSpecific {
  width: 100%;
  height: 30em;
}

.paragraph_blogSpecific {
  margin: 1em 0;
}

.postCategories_blogSpecific {
  display: flex;
  align-items: baseline;
  gap: 1em;
  margin-bottom: 2em;
}

.postCategory_blogSpecific:hover {
  transition: 0.1s ease-in;
  text-decoration: underline 1px;
}

/* - MOBILE - */
@media only screen and (max-width: 1279px) {
  .postImage_blogSpecific {
    height: 15em;
  }
}

/* SMALL PHONES PORTRAIT */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .postTitle_blogSpecific {
    text-align: center;
  }

  .paragraph_blogSpecific,
  .postCategories_blogSpecific {
    padding: 0 0.5em;
  }
}

/* NORMAL TABLETS PORTRAIT */
@media only screen and (min-width: 800px) and (orientation: portrait) {
}

/* NORMAL TABLETS LANDSCAPE */
@media only screen and (min-width: 950px) and (orientation: landscape) {
}

/* BIG TABLETS PORTRAIT*/
@media only screen and (min-width: 1024px) and (orientation: portrait) {
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
}
