@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Extra small devices (Phones, 600px and down) */
@media screen and (max-width: 600px) {
}
/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* ------ GLOBAL ------ */

* {
  box-sizing: border-box;
}

:root {
  /* Header color */
  --clr-primary-1: rgb(162, 70, 0);
  /* Minor contrast to clr above */
  /* --clr-secondary-1: rgb(162, 70, 0); */

  /* Footer color / navdesktop-list */
  --clr-primary-2: #2c2926;
  /* Minor contrast to clr above */
  --clr-secondary-2: #37322f;

  /* General white color */
  --clr-primary-3: whitesmoke;
}

/* html {
  color-scheme: light dark;
} */

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #fff;
  scroll-behavior: smooth;
}

header {
  background: var(--clr-primary-1);
}

.main-aside-container {
  display: grid;
  grid-template-columns: 1fr;
}

main {
  width: min(80ch, 100% - 1rem);
  margin-inline: auto;
}

aside {
  display: none;
  width: 15em;
  height: fit-content;
  position: sticky;
  top: 5em;
}

.section_aside {
  margin-top: 2.5em;
}
.section_aside h3 {
  background: var(--clr-primary-1);
  color: var(--clr-primary-3);
  padding: 0.5em;
  margin: 0;
}

.ul_aside li {
  padding: 1em 0.5em;
}

.ul_aside li:hover {
  animation: move-right 0.3s ease forwards;
  text-decoration: underline;
}

footer {
  color: var(--clr-primary-3);
  background: var(--clr-primary-2);
}

a {
  color: black;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
input,
textarea {
  font-size: 1rem;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i {
  color: black;
}
button {
  display: block;
  height: 5em;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  background: gray;
  color: rgb(50, 50, 50);
  transition: 0.3s ease-in-out;
}

button.buttonEnabled {
  color: var(--clr-primary-3);
  background: rgb(0, 200, 0);
  transition: 0.3s ease-in-out;
}
button.buttonEnabled:hover {
  color: var(--clr-primary-3);
  background: rgb(0, 170, 0);
  transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h6 {
  font-size: 0.8rem;
}

p {
  line-height: 2;
  font-size: 1rem;
}

.small-header {
  font-size: 0.8rem;
  font-weight: bold;
}
.medium-header {
  font-size: 1.2rem;
  font-weight: bold;
}
.large-header {
  font-size: 2rem;
  font-weight: bold;
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
  main {
    width: min(80ch, 100% - 2rem);
  }
  p {
    font-size: 1.125rem;
  }
}

/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* Since view is different on desktop, and you get the Aside-section */
  .main-aside-container {
    grid-template-columns: 1fr auto;
    gap: 2em;
    width: min(120ch, 100% - 4rem);
    margin-inline: auto;
  }

  .main-aside_index {
    width: min(135ch, 100% - 4rem);
  }

  main {
    width: initial;
  }

  aside {
    display: block;
  }

  button {
    width: 12em;
  }

  p {
    font-size: 1.25rem;
  }
}

/* Accessibility */

/* This class hides elements on the page, but screen readers can still see them */
.hide-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* -- Loading animation -- */

.loadingContainer {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.loadingText {
  margin: auto auto 0.5em auto;
  width: 8em;
  text-align: center;
}

.loadingAnimation {
  width: 2em;
  height: 2em;
  margin: 0.5em auto auto auto;
  border: 10px solid var(--clr-primary-3);
  border-top-color: #ffaa34;
  border-radius: 50%;
  animation: spin 0.75s ease-in-out infinite;
}

.results {
  padding: 10px;
}

/* -- HIDE/SHOW ELEMENTS --*/

.hideElement {
  display: none;
}

.showElement {
  display: block;
}

/* -- TRANSITION EFFECTS BLOG POSTS-- */

.fade-in-left {
  animation: fade-in-left 0.5s ease;
}
.fade-in-right {
  animation: fade-in-right 0.5s ease;
}
.fade-in-down {
  animation: fade-in-down 0.5s ease;
}
.fade-in-down-extended {
  animation: fade-in-down 1s ease;
}

/* Used by blog post containers */
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-1em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(1em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Used by loading animations */
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Used by Aside-lists */
@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1em);
  }
}

/* Used by Carousel button on index.html */
@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5em);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5em);
  }
  100% {
    transform: translateX(0);
  }
}

/* ------ HEADER SECTION ------ */

.headingContainer_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.logo_header {
  min-height: 5em;
  max-height: 10em;
  width: 26vh;
  min-width: 12em;
  margin: 0 auto;
}

/* ------ NAVIGATION HEADER ------ */

.active {
  font-weight: bold;
}
.nav_header_desktop {
  display: none;
}
.headingContainer_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* - MOBILE DESIGN - */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: 4em;
  width: 4em;
  background: rgb(162, 70, 0);
  margin-left: 10%;
}
.menu-icon .icon-bar {
  display: block;
  width: 2.5em;
  height: 3px;
  margin: 3px 0;
  background-color: var(--clr-primary-3);
}

.navContainer-header_mobile {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.navContainer-header_mobile.nav-open {
  /* As long as it has enough height to display the content of the NAV, its good */
  max-height: 50em;
}

.nav-collapsed .icon-bar {
  background-color: var(--clr-primary-3);
  transition: all 0.3s ease-in-out;
}

.menu-icon.nav-collapsed .icon-bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-icon.nav-collapsed .icon-bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.nav-collapsed .icon-bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.ul_primary_mobile,
.ul_categories_mobile,
.ul_subCategories_mobile {
  text-transform: uppercase;
}

.ul_primary_mobile a,
.ul_categories_mobile a,
.ul_subCategories_mobile a {
  color: var(--clr-primary-3);
}

.li_primary_mobile,
.li_categories_mobile,
.li_subCategories_mobile {
  padding: 0 0 2em 2em;
}

.li_categories_mobile:first-child,
.li_subCategories_mobile:first-child {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  font-weight: bold;
}

.li_categories_mobile:first-child i,
.li_subCategories_mobile:first-child i {
  color: var(--clr-primary-3);
}

.nav_categories_mobile,
.nav_subCategories_mobile {
  display: none;
}

.show-categories-btn,
.hide-categories-btn,
.show-subCategories-btn,
.hide-subCategories-btn {
  width: fit-content;
  height: fit-content;
  background: transparent;
  color: var(--clr-primary-3);
  padding: 0;
  font-weight: inherit;
  font-size: 1rem;
}

/* - DESKTOP DESIGN - */
.nav_header_desktop {
  display: none;
  border-top: 2px solid var(--clr-primary-3);
}

.ul_header_desktop {
  display: flex;
  background: var(--clr-primary-2);
  justify-content: center;
  font-size: 1.25rem;
  gap: 2.5em;
  padding: 0.5em;
  margin: 0;
}

.li_header_desktop a {
  position: relative;
  color: var(--clr-primary-3);
}

.li_header_desktop a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  background-color: var(--clr-primary-3);
  transition: width 0.3s ease;
}

.li_header_desktop a:hover::before {
  width: 100%;
}
.li_header_desktop a:hover {
  transition: 0.3s ease;
  color: #d9b88f;
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}
/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* HIDE MOBILE NAV */
  .menu-icon {
    display: none;
  }
  .nav_header_mobile {
    display: none;
  }

  /* DESKTOP NAV */

  .headingContainer_header {
    display: block;
  }

  .nav_header_desktop {
    display: block;
  }
}

/* ------ FOOTER SECTION ------ */

.newsletter_footer {
  width: min(80ch, 100% - 4rem);
  margin-inline: auto;
  text-align: center;
}

.newsletter_footer h2 {
  padding-top: 1em;
}

.newsletter_footer p {
  margin-bottom: 2em;
}

.newsletterForm_footer {
  display: flex;
  flex-direction: column;
}
.newsletterForm_footer label,
.newsletterForm_footer input,
.newsletterForm_footer button {
  margin: 0 auto;
  width: 100%;
  border: none;
}

.newsletterForm_footer label {
  padding: 0.5em;
}

.newsletterForm_footer input {
  height: 3em;
  background: linear-gradient(
    to right,
    #2c2926 0%,
    #2c2926 25%,
    #3f3b37 50%,
    #2c2926 75%,
    #2c2926 100%
  );
  color: var(--clr-primary-3);
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(245, 245, 245, 0.6);
  border-radius: 0;
  outline: none;
}
.newsletterForm_footer button {
  margin-bottom: 2em;
}

.bottomSection_footer {
  background-color: var(--clr-secondary-2);
}
.bottomSection_footer h3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 2em;
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .newsletterForm_footer label,
  .newsletterForm_footer input,
  .newsletterForm_footer button {
    min-width: 60%;
    max-width: 60%;
  }
}

/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* ------ INDEX PAGE ------ */

/* - Headers - */
.topHeaderContainer_index,
.lowerHeaderContainer_index {
  display: flex;
  align-items: center;
}

.topHeaderContainer_index h1,
.lowerHeaderContainer_index h2 {
  padding: 1em 0 0.5em 0;
  margin: 0;
  font-style: italic;
  text-transform: uppercase;
}

.topHeaderContainer_index hr,
.lowerHeaderContainer_index hr {
  width: 100%;
  height: 3px;
  border: none;
  margin: 0.75em 0 0 1em;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-1);
}

/* -- Blog Highlighted -- */

.highlightedContainer_index {
  margin-bottom: 2.5em;
}

.blogPostContainer_index {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2.5em;
}

.blogPostContainer_index:hover,
.highlightedContainer_index:hover {
  opacity: 0.75;
  transition: 0.1s ease-in;
  box-shadow: 0.5px 0.5px 5px black;
}

.highlightedInfoContainer_index,
.blogPostInfoContainer_index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.highlightedCategories_index,
.blogPostCategories_index {
  display: flex;
  gap: 1em;
  align-items: baseline;
  font-size: 0.8rem;
  padding: 0.5em 0;
}

.highlightedCategoriesTitle_index,
.blogPostCategoriesTitle_index {
  font-weight: bold;
}

.highlightedCategory_index:hover,
.blogPostCategory_index:hover {
  transition: 0.1s ease-in;
  text-decoration: underline 1px;
}

.highlightedTitle_index,
.blogPostTitle_index {
  margin: 0.75em 0;
  text-transform: uppercase;
  /* For central aligning title in grid view (does not effect highlighted title) */
  display: flex;
  align-items: center;
}

.highlightedSubHeader_index,
.blogPostSubHeader_index {
  display: flex;
  opacity: 0.75;
  align-items: baseline;
  gap: 0.5em;
}

.highlightedAuthor_index,
.highlightedDate_index,
.blogPostAuthor_index,
.blogPostDate_index {
  margin: 0;
}

/* works for both index.html and blog.html */
.date-Icon {
  margin-left: auto;
}

.highlightedImage_index,
.blogPostImage_index {
  opacity: 0.75;
  object-fit: cover;
  width: 100%;
}

.highlightedImage_index {
  height: 16em;
}

.blogPostImage_index {
  height: 8em;
}

.highlightedContentSummary_index,
.blogPostContentSummary_index {
  padding: 0 0.5em;
  font-style: italic;
  font-size: 1rem;
}

/* - Carousel - */

.containerCarousel-nav {
  display: block;
  border: 2px solid black;
}

.containerCarousel-nav div {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

.containerCarousel-nav .prevButtonContainer_index {
  display: none;
}

.containerCarousel-nav div > label {
  cursor: pointer;
}

.carousel-nav {
  width: 5em;
  background: transparent;
}

.prev:hover > i {
  animation: bounce-left 1s ease-in-out infinite;
}
.next:hover > i {
  animation: bounce-right 1s ease-in-out infinite;
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
  .blogContainerHighlighted_index {
    height: 30em;
  }

  .blogContainer_index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1em;
    gap: 2.5em;
  }

  .blogPostContainer_index {
    border-bottom: none;
    margin-bottom: 5em;
  }

  .blogPostTitle_index {
    margin: 0;
    height: 4em;
  }
}

/* ------ BLOG ------ */

.header_blog {
  text-align: center;
}

/* - Blog posts - */

.blogPostContainer_blog {
  margin: 2em auto;
  border-bottom: 1px solid lightgray;
}

.blogPostContainer_blog:hover {
  opacity: 0.75;
  transition: 0.1s ease-in;
  box-shadow: 0.5px 0.5px 5px black;
}

.blogPostInfoContainer_blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.blogPostCategories_blog {
  display: flex;
  gap: 1em;
  align-items: baseline;
  font-size: 0.8rem;
  padding: 0.5em 0;
}

.blogPostCategoriesTitle_blog {
  font-weight: bold;
}

.blogPostCategory_blog:hover {
  transition: 0.1s ease-in;
  text-decoration: underline 1px;
}

.blogPostTitle_blog {
  margin: 1em 0;
  text-transform: uppercase;
}

.blogPostSubHeader_blog {
  display: flex;
  opacity: 0.75;
  align-items: baseline;
  gap: 0.5em;
}

.blogPostAuthor_blog,
.blogPostDate_blog {
  margin: 0;
}

.blogPostImage_blog {
  opacity: 0.75;
  object-fit: cover;
  width: 100%;
  height: 8em;
}

.blogPostContentSummary_blog {
  padding: 0 0.5em;
  font-style: italic;
  font-size: 1rem;
}

/* - Older content buttons - */

.olderContent-btn,
.backToTop-Btn {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 0;
  border: 2px solid black;
  background: transparent;
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* ------  CONTACT ------ */

.topSection_contact {
  text-align: center;
}

/* - Contact form - */

.formSection_contact {
  margin: 2em auto;
}

.formFieldset_contact {
  border: none;
}

.formFieldset_contact legend {
  margin-bottom: 1em;
}

.formFieldset_contact input,
.formFieldset_contact textarea {
  display: block;
  width: 100%;
  padding: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 7.5px;
}
.formFieldset_contact textarea {
  min-height: 10em;
  max-height: 20em;
}

.submitBtn-form_contact {
  display: block;
  margin-top: 1.25em;
  width: 100%;
}

/* - Validation - */
.form-error {
  display: none;
  color: red;
  float: right;
  margin-right: 0.5em;
}

.form-sucsess {
  display: none;
  color: green;
  float: right;
  margin-right: 0.5em;
}

.formSucsess_contact {
  display: none;
  margin: auto;
  width: 90%;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  background: #d9ab73;
}

.formSucsess_contact img {
  display: flex;
  height: 5em;
  margin-top: 2em;
  border-radius: 50%;
  background: var(--clr-primary-3);
}

.formSucsess_contact img,
.formSucsess_contact h2,
.formSucsess_contact div {
  text-align: center;
  padding: 1em;
}

/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
  .formSection_contact {
    width: 40em;
  }
}

/* ------ ABOUT ------ */

.section_about {
  margin: 5em 0;
}

.section_about a {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.section_about p {
  max-height: 10em;
  overflow: hidden;
  transition: max-height 1s ease;
}

.section_about .show-more {
  max-height: 100em;
}

.readMore-btn {
  background-color: #d9ab73;
}

/* - PERSON CONTAINERS - */

.personsContainer {
}
.personContainer {
  display: block;
  padding: 2em;
}

.personsContainer {
  display: block;
  margin: 0 auto;
}
.personContainer {
  height: fit-content;
}
.personImage {
  width: 9em;
  height: 9em;
}

.personImage {
  background: url(/IMAGES/about/person-portrait.jpeg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgb(70, 70, 70);
  margin: 0 auto;
}

.personName {
  text-align: center;
}

.personText {
  font-style: italic;
}

/* ------ BLOG SPECIFIC PAGE ------ */

.postTitle_blogSpecific {
  text-align: center;
}

.postSubheader_blogSpecific {
  display: flex;
}

.postDate_blogSpecific {
  margin-left: auto;
}

.postImage_blogSpecific {
  width: 100%;
  height: 15em;
  margin: 1em 0;
}

.paragraph_blogSpecific {
}

.postCategories_blogSpecific {
  display: flex;
  align-items: baseline;
  gap: 1em;
  margin: 2em 0;
  border-top: 1px solid black;
  padding: 0.5em 0;
}

.postCategoriesTitle_blogSpecific {
  font-weight: bold;
}

.postCategory_blogSpecific:hover {
  transition: 0.1s ease-in;
  text-decoration: underline 1px;
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops / desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .postImage_blogSpecific {
    height: 20em;
  }
}
/* Extra large devices (Desktop, 1200px and up) */
@media screen and (min-width: 1200px) {
  .section_about p {
    max-height: initial;
    overflow: initial;
  }

  .personsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    width: fit-content;
  }
  .personImage {
    width: 10em;
    height: 10em;
  }
  .readMore-btn {
    display: none;
  }
  .postImage_blogSpecific {
    height: 25em;
  }
}

/* Image modal */
.imageOverlay_blogspecific {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalImage_blogSpecific {
  margin: 10em auto;
  width: 90%;
  max-width: 50em;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: var(--clr-primary-3);
}

.modalImageBtn_blogSpecific {
  margin: 0 auto;
  width: 90%;
  max-width: 300px;
  height: 5em;
  background-color: var(--clr-primary-3);
  color: var(--clr-primary-2);
}

.modalImageBtn_blogSpecific:hover {
  background-color: white;
  color: var(black);
  transition: 0.3s ease-in-out;
}
